body {
  line-height: 1.7;
  color: #4d4d4d;
  font-weight: 400;
  font-size: 1rem;
}

.site-section {
  padding: 2.5em 0;
}
@media (min-width: 768px) {
  .site-section {
    padding: 5em 0;
  }
}
.site-section.site-section-sm {
  padding: 4em 0;
}

.site-section-heading {
  padding-bottom: 20px;
  margin-bottom: 0px;
  position: relative;
  font-size: 2.5rem;
}
@media (min-width: 768px) {
  .site-section-heading {
    font-size: 3rem;
  }
}
.bg-image > .container {
  position: relative;
  z-index: 1;
}
.site-blocks-cover,
.site-blocks-cover > .container > .row {
  min-height: 600px;
  height: calc(100vh);
}
.site-blocks-cover.inner-page-cover,
.site-blocks-cover.inner-page-cover > .container > .row {
  min-height: 400px;
  height: calc(20vh);
}

.box-with-humber {
  position: relative;
}
.box-with-humber .number-behind {
  font-size: 8rem;
  position: absolute;
  z-index: -1;
  top: -4rem;
  left: -3rem;
  font-weight: 900;
  color: #f2f4f5;
}
.ul-check {
  margin-bottom: 50px;
}
.ul-check li {
  position: relative;
  padding-left: 35px;
  margin-bottom: 15px;
  line-height: 1.5;
}
.ul-check li:before {
  left: 0;
  font-size: 20px;
  top: -0.3rem;
  font-family: "icomoon";
  content: "\e5ca";
  position: absolute;
}
.ul-check.white li:before {
  color: #fff;
}
.ul-check.success li:before {
  color: #8bc34a;
}
.ul-check.primary li:before {
  color: #32dbc6;
}
.card {
  background: #fff;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
}
.card1 img {
  width: 100%;
}
[class*="row"] {
  margin-bottom: 1em;
  justify-content: center;
}
[class*="col-"] {
  background: #efefef;
  border: 1px solid #ddd;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  width: 100%;
}
